@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0A0A0A;
}

h1 {
    text-align: center;
    margin:30px;
    color: #fff;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top:30px;
    margin-bottom: 30px;
}

/*navigational elements*/

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu, #logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
    color: #CF2C91;
}

#menu a:hover {
    border-bottom: 1px solid #25457E;
}

.active {
    border-bottom: 1px solid #25457E;
}

/*top section styling*/

#top-header {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #CF2C91;
}

#top-header p {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
    margin: 30px;
    color: #fff;
}

/*testimonial section*/

#testimonials {
    height: 900px;
}

#left-testimonials {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-testimonials {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-testimonials {
    width: 33%;
    margin: 0 auto;
}

hr {
    border-top: 1px solid #CF2C91;
    width: 100%;
    margin: 5px 0;
}

.left-side-testimonials {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}