@import url('https://fonts.googleapis.com/css2?family=Nunito&display=swap');

* {
    margin: 0;
    padding: 0;
    border: none;
}

body {
    font-family: Nunito, sans-serif;
    font-weight: 300;
    color: #0A0A0A;
}

h1 {
    text-align: center;
    margin: 30px;
    color: #fff;
}

#logo {
    float: left;
    margin-left: 30px;
    margin-top: 30px;
    margin-bottom: 30px;
    height: 100px;
    width: 200px;
}

/*navigational elements*/

#menu {
    float: right;
    font-size: 110%;
    letter-spacing: 2px;
}

#menu,
#logo {
    line-height: 75px;
}

#menu li {
    float: left;
    list-style: none;
    margin-right: 30px;
    margin-top: 30px;
}

#menu a {
    text-decoration: none;
    color: #CF2C91;
}

#menu a:hover {
    border-bottom: 1px solid #25457E;
    background-color: #25457E;
}

.active {
    border-bottom: 1px solid #25457E;
}

/*top section styling*/

#top-header {
    height: 200px;
    width: 100%;
    overflow: hidden;
    position: relative;
    background-color: #CF2C91;
}

#top-header p {
    text-align: center;
    line-height: 1.5;
    font-size: 1.2em;
    margin: 30px;
    color: #fff;
}

/*testimonial section*/

#testimonials {
    display: flex;
    justify-content: space-between;
}

#left-testimonials {
    padding-top: 30px;
    width: 33%;
    float: left;
}

#right-testimonials {
    padding-top: 30px;
    width: 33%;
    float: right;
}

#center-testimonials {
    width: 33%;
    margin: 0 auto 20px;
}

hr {
    border-top: 1px solid #CF2C91;
    width: 100%;
    margin: 5px 0;
}

.left-side-testimonials {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-testimonials {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.right-side-testimonials h2 {
    text-align: right;
}

.right-side-testimonials p {
    text-align: right;
}

.right-side-testimonials a {
    text-align: right;
}

.right-side-testimonials a:hover {
    background-color: #CF2C91;
}

.left-side-testimonials a:hover {
    background-color: #CF2C91;
}

#circle-container {
    width: 350px;
    height: 350px;
    padding: 30px;
    border-style: solid;
    border-color: #CF2C91;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#circle-container2 {
    width: 350px;
    height: 350px;
    padding: 30px;
    border-style: solid;
    border-color: #CF2C91;
    border-width: 1px;
    border-radius: 50%;
    margin: 0 auto;
    margin-top: 50px;
}

#circle-image {
    background: url("../images/sct baby pic.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

#circle-image2 {
    background: url(../images/Neive.jpg) no-repeat center center;
    height: 100%;
    border-radius: 50%;
}

/*footer section*/

footer {
    height: 200px;
    background-color: #25457E;
}

.social-links {
    text-align: center;
}

.social-links>li {
    display: inline;
}

.social-links i {
    font-size: 160%;
    margin: 1%;
    padding: 3%;
    color: #fff;
}

footer p {
    text-align: center;
    color: #fff;
}

i:hover {
    background-color: #CF2C91;
}

/*About page*/

#about-us {
    display: flex;
    justify-content: space-between;
}

#left-about-us {
    padding-top: 30px;
    width: 33%;
}

#history {
    padding-top: 30px;
    width: 33%;
}

.left-about {
    width: 60%;
    float: right;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.our-history {
    width: 60%;
    float: left;
    line-height: 20px;
    clear: both;
    margin-bottom: 50px;
}

.our-history p {
    text-align: right;
}

#center-images {
    width: 33%;
    margin: 0 auto 20px; 
}

#history-image {
    background: url("../images/history.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%; 
}

#about-image {
    background: url("../images/Michael-crawford.jpg") no-repeat center center;
    height: 100%;
    border-radius: 50%; 
}